<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" href="/">Rolify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? && current_user.roles.pluck(:name).include?('admin') %>
          <a class="nav-link" href="/users">Manage Users</a>
        <% else %>
<!--          <a class="nav-link" href="/">Unauthorized</a>-->
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav custom-mx">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= form_tag(destroy_user_session_path, method: :delete) do %>
            <%= submit_tag("Sign Out", class: "btn btn-sm btn-danger") %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up">Signup</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<style>
    .navbar-nav.custom-mx {
        margin-left: auto !important; /* Adjust the margin as needed */
    }
</style>
